body {
  background-image: url(../img/nza_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  font-size: 14px;
}

/**************************************************************
News Sibebar
**************************************************************/

.news {
  background-color: rgba(153, 38, 0, 1);
  color: white;
  padding: 20px 10px;
}

.news p {
  font-size: 12px;
}

.news h6 {
  font-size: 12px;
}

.news ul {
  list-style: none;
  font-size: 12px;
}

.news ul li {
  margin-left: -20px;
}

.news ul li a {
  color: white;
}

.news hr {
  border: 1px solid white;
  margin-top: 2px;
  margin-bottom: 10px;
}

.news h5 {
  font-size: 15px;
}

.news a {
  color: white;
}

.news img {
  margin-bottom: 15px;
}

/*********************************************
Index
*********************************************/
#top_footer {
  margin: 30px 0px;
}

#top_footer ul {
  list-style: none;
  border-top: 1px solid black;
  border-bottom: 1px solid #000;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

#top_footer ul li a {
  color: black;
  /* font-size: 12px; */
}

#top_footer ul li {
  color: black;
  padding: 5px 20px;
  display: inline;
}

#top_footer ul span {
  padding: 5px 20px;
}

#bottom_footer ul {
  list-style: none;
  text-align: center;
}

#bottom_footer ul li {
  display: inline;
  padding: 0 15px;
  font-size: 12px;
}

#bottom_footer ul li a {
  color: black;
}

.stooges {
  background-color: white;
  padding: 40px 60px 5px;
  margin-bottom: 100px;
  box-shadow: 0px 0px 20px #505050;
}

/*********************************************
Who We Are
*********************************************/
.whoweare {
  margin-bottom: 70px;
}

/*********************************************
Where
*********************************************/
.col-md-8.usa ul, .col-md-4.intter ul {
  padding: 0;
}

.a-l, .m-n, .o-w {
  padding-right: 15px;
  list-style: none;
}

.a-l, .m-n {
  float: left;
}

.c-n {
  list-style: none;
}

.col-md-8.usa ul li, .col-md-4.intter ul li {
  padding-right: 70px;
  font-size: 14px;
}


.row.imageGallery .col-md-6 {
    padding-top: 20px;
}

.imageGallery {
  margin-bottom: 70px;
}

.row.welcome {
    margin-top: 45px;
}





.what, .where {
  margin-bottom: 60px;
}

.row.what img {
    width: 100%;
    margin-top: 30px;
}

hr.bottom-divide {
  margin-top: 0px;
  margin-bottom: 0px;
}

.bottom-divide {
    border-top: 1px solid black;
}

.col-md-12.legal {
    text-align: center;
}

.col-md-12.legal p {
    color: #c0c0c0;
}

.col-md-12.legal p small a {
    color: #c0c0c0;
}

.location {
  background-color: lightgrey;
  padding: 10px;
}

.location a {
  color: black;
}

.contact {
  margin-bottom: 300px;
}
